/* ------------------------------  GENERAL  ------------------------------ */
* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* section {
    height: 100vh;
} */


strong {
    font-weight: 700 !important;
}
/*  ------------------------------  NAV  ------------------------------ */

  
.vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    color: white;
    text-transform: uppercase;
    height: 100%;
    left: 2rem;
    z-index: 3;
    list-style: none;
}
  
.verticalLine {
    height: calc(50% - 0.625rem);
      left: 0.55rem;
      width: 2px;
      position: absolute;
      background-color: rgba(254,254,254,0.5);
}

ul#sideNavigation {
    height: 80%;
    /* left: 2rem; */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    opacity: 0;
}

ul#sideNavigation>li.navigationItem {
    width: 100%;
    position: relative;
    height: calc(100% / 5);
    cursor: pointer;
    list-style: none;
    
}

ul#sideNavigation>li.navigationItem>div.verticalLine.top {
    top: 0;
}

ul#sideNavigation>li.navigationItem>div.verticalLine {
    height: calc(50% - 0.625rem);
    left: 0.55rem;
    width: 2px;
    position: absolute;
    background-color: rgba(254,254,254,0.5);
}

ul#sideNavigation>li.navigationItem>div.verticalLine.bottom {
    bottom: 0;
}

ul#sideNavigation>li.navigationItem>div.innerContainer {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div.hexagonContainer {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    opacity: 0.5;
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div {
    display: inline-block;
    vertical-align: middle;
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div.hexagonContainer>.inlineSVG {
    height: 100%;
    top: 0;
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div.hexagonContainer svg.hexagon {
    width: 100%;
    height: 100%;
    /* -webkit-transition: all 0.35s ease-in-out; */
    transition: all 0.35s ease-in-out;
    -webkit-transform: rotate(0deg) scale(1, 1);
    -ms-transform: rotate(0deg) scale(1, 1);
    /* transform: rotate(0deg) scale(1, 1); */
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div.hexagonContainer svg.hexagon path.hexagon {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    stroke: #FEFEFE;
    fill: transparent;
    stroke-width: 2px;
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div.titleContainer {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    /* opacity: 0; */
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

ul#sideNavigation>li.navigationItem>div.innerContainer>div.titleContainer>span {
    /* font-family: "Humanst521 BT"; */
    font-weight: normal;
    font-size: 0.75rem;
    color: #FEFEFE;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 1rem;
}
ul#sideNavigation>li.navigationItem>div.innerContainer>div.hexagonContainer svg.hexagon path.fill-hexagon {
    fill: white;
    /* animation: vortex 1s infinite linear; */
}

a {
    color: #ffffff;
}

ul#sideNavigation.show{
    opacity: 1;
    /* animation: menu 3s linear 1s slidein; */
    transition: all 0.35s ease-in-out;
}

@keyframes menu {

}

img#logo {
    margin: 3rem;
    width: 50%;
}
/* ------------------------------  HERO  ------------------------------ */

#hero{
    height: 100vh;
}

#hero-content {
    background-color: #222;
    height: 100%;
    color: white;
    position: fixed;
    
}

.intro-text {
    padding: 15% 0;
    text-align: center;
}
  
hr {
    width: 15rem;
}

img#constellation {
    width: 28%;
    opacity: 0.3;
    position: relative;
    /* position: absolute; */
    /* bottom: 10vh; */
    /* margin: 9rem; */
}

img#constellation.opacity{
    opacity: 0;
}


/* Down Arrow */

@keyframes downArrowFadeIn{
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        opacity: 1;
        -webkit-transform: translateY(1.25rem);
        transform: translateY(1.25rem);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes arrowRepeatingAnimation{
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(1.25rem);
        transform: translateY(1.25rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.downArrowContainer div.inlineSVG {
    width: 75px;
    display: inline-block;
}

.downArrowContainer {
    display: block;
    bottom: 60px;
    position: absolute;
    text-align: center;
    z-index: 15;
    width: 100%;
    cursor: pointer;
}

.downArrowContainer div.inlineSVG svg#downArrow {
    fill: none;
    stroke: #FEFEFE;
    stroke-width: 2px;
}

div.inlineSVG svg {
    width: 100%;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

/* @media (min-width: 600px){ */
    div.downArrowContainer {
        -webkit-animation: downArrowFadeIn 8s ease-in-out forwards;
        animation: downArrowFadeIn 8s ease-in-out forwards;
    }
     div.downArrowContainer div.inlineSVG {
        -webkit-animation: arrowRepeatingAnimation 2s infinite ease-in-out forwards;
        animation: arrowRepeatingAnimation 2s infinite ease-in-out forwards;
    }
/* } */

/* Stars */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .constellation {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

#constellation img {
    width: 20%;
    opacity: 0.8;

}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  /* background:#000 url(assets/images/stars.png) repeat top center; */
  z-index:0;
  /* background-attachment: fixed; */
}

.constellation {
    background: url(assets/images/constellation.png) no-repeat center;
    z-index: 1;
    opacity: 1;
    background-size: 10vh;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
  /* background-attachment: fixed; */
}


/* ------------------------------  ABOUT  ------------------------------ */

div.about-content {
    position: relative;
    background: linear-gradient(#000000, #0e163a, #2b42aa, #96adcf);
    /* height: 100vh; */
    padding: 2% 20%;
    color: #FEFEFE;
}

div.about-content h2 {
    color: #fff;
    font-weight: 100;
    font-size: 3rem;
    padding: 0;
    margin-bottom: 1rem;
}

.about-content p {
    letter-spacing: 0.1em;
}

p.about-text-sub {
    font-size: 1.1rem;
    font-weight: 100;
}

.intro-title {
    font-size: 4em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
h2 span {
      font-weight: 100;
}

.about-text {
    text-transform: none;
    font-size: 1.5em;
    font-weight: 100;
}

.icons {
    font-size: 18px;
    padding-right: 7px;
}

.aditional-info {
    width: 30%;
    float: left;
}

.aditional {
    margin-top: 3rem;
}

.aditional-info p {
    margin: 0.3rem;
    font-weight: 100;
}

/* ------------------------------  WORK  ------------------------------ */

section#work {
    /* background-color: #6aa9abff; */
    /* height: 100vh; */
    /* z-index: 10; */
    position: relative;
}

section#work div.work-content{
    position: relative;
    background: linear-gradient(#96adcf, #6963a3);
    padding: 2% 20%;
    padding-right: 10%;
    color: #FEFEFE;
}

.project {
    background-color: rgb(164, 181, 230);
}

/* ------------------------------  CONTACT  ------------------------------ */
section#contact {
    height: 20vh;
}

div.contact-content {
    position: relative;
    background: linear-gradient(#6963a3, #4b4865);
    padding: 2% 20%;
    color: #FEFEFE;
  }

.contact-links {
    display: inline-flex;
    list-style: none;
    text-align: center;
}

.cont-link {
    width: 25%;
    /* text-align: right; */
    margin: 2rem;
}

div.contact-content ul li a {

}

div.contact-content ul li a:hover {
    opacity: 0.5;
    cursor: pointer;
}


/* ------------------------------  MOBILE  ------------------------------ */

@media (min-width: 600px){
    .hidden-on-desktop {
        display: none;
    }

    #logo .hidden-on-desktop {
        width: 50%;
    margin-top: 40%;
    margin-left: 3rem;
    }

    h2.about-title {
        width: 70%;
        display: inline-block
    }

    .img-ant-container {
        width: 30%;
        float: left;
        padding: 3rem 1rem 0;
    }

    img#antares-photo {
        width: 80%;
    }

    div.about-content {
        padding-right: 10%;
        height: 100vh;
    }

    section#about {
        height: 100vh;
    }

    h2.code-title {
        color: #fff;
        font-size: 3rem;
        padding: 0;
        margin-bottom: 1rem;
        font-weight: 400;
        text-align: center;
    }

   .work-content {
        padding-right: 10%;
    }

    .project {
        background-color: rgb(164, 181, 230);
        width: 30%;
        display: inline-block;
    }

    .project-desc {
        margin-bottom: 2rem;
        padding: 2rem;
    }

    .project .img-project {
        height: 9rem;
        background-color: rgb(192, 205, 247);
    }

    .project .e-commerce {
        background-image: url('assets/images/e-commerce.png');
        background-size: cover;
    }

    .project .getting-links {
        background-image: url('assets/images/getting-links.jpg');
        background-size: cover;
    }

    .project .data-dashboard {
        background-image: url('assets/images/data-dashboard.jpg');
        background-size: cover;
    }

    .project .img-project img {
        width: 100%;
        height: 10rem;
    }

    .project-desc {
        padding: 0.5rem 0.8rem;
    }

    .project-desc p {
        margin: 3px;
        font-size: 0.9rem;
        color: #f6f8fc;
        margin-bottom: 0.5rem;
    }

    a.project-title {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 500;
    }
    
    .project-btn {
        background: none;
        /* padding: 0.2rem 0.5rem; */
        color: #575388;
        border-color: #8581b9;
        margin: 0.4rem;
    }
    
    
}

@media (max-width: 600px){
    
    .hidden-on-mobile {
        display: none;
    }

    * {
        text-align: center;
    }

    div#hero {
        height: 27rem;
    }
  
    .intro-text {
        padding: 20% 0;
    }
    .downArrowContainer {
        top: 0;
        padding: 0;
        position: relative;
    }
    
    img#constellation {
        margin-top: 22%;
        width: 20%;
    }

    img#logo {
        width: 35%;
    }

    .twinkling {
        padding: 10%;
    }

    .intro-title {
        font-size: 1.5em;
        font-weight: 400;
    }

    div.contact-content {
        padding: 0;
    }

    .contact-links {
        padding: 0;
    }

    /* About Mobile */
    section#about {
        height: auto;
    }
    div.about-content {
        padding: 2% 10%;
        color: #a5bee4;
        height: auto;
    }

    div.about-content h2 {
        font-size: 1.5rem;
        padding: 0;
        color: #bfd5f7;
    }

    img#antares-photo {
        width: 35%;
    }

    .about-desc {
        padding: 1rem;
    }
    p.about-text {
        letter-spacing: 0;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0;
        
    }
    .hi {
        color: #cecbee;
    }
    p.about-text span {
        font-weight: 400;
    }

    p.about-text-sub {
        letter-spacing: 0;
        font-size: 1.1rem;
        font-weight: 300;
        color: #cfdff8
    }

    p.about-text-sub span {
        font-weight: 400;
    }

    /* Work Mobile */

    section#work div.work-content {
        padding: 2% 10%;
    }

    .code-title {
        font-weight: 400;
    }

    .project {
        height: 16rem;
        margin-bottom: 2rem;
    }

    .project .img-project {
        height: 9rem;
        background-color: rgb(192, 205, 247);
    }

    .project .e-commerce {
        background-image: url('assets/images/e-commerce.png');
        background-size: cover;
    }

    .project .getting-links {
        background-image: url('assets/images/getting-links.jpg');
        background-size: cover;
    }

    .project .data-dashboard {
        background-image: url('assets/images/data-dashboard.jpg');
        background-size: cover;
    }

    .project .img-project img {
        width: 100%;
        height: 10rem;
    }

    .project-desc {
        padding: 0.5rem 0.8rem;
    }

    .project-desc p {
        margin: 3px;
        font-size: 0.9rem;
        color: #f6f8fc;
        margin-bottom: 0.5rem;
    }

    a.project-title {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 500;
    }
    
    .project-btn {
        background: none;
        /* padding: 0.2rem 0.5rem; */
        color: #575388;
        border-color: #8581b9;
        margin: 0.4rem;
    }

    .cont-link {
        width: 30%;
    }

}